<!DOCTYPE html>
<html lang="en">

  @@include('../partials/head/head.html')

<body>
  <div id="wrapper">
    @@include('../partials/components/entry-section.html')
    @@include('../partials/components/starter-box.html',  {
      "title": "Welcome to Craft Demo",
      "intro-text": "Intuit Craft Demo"
    })
  </div>

  <script src="assets/js/vendor.min.js" defer></script>
  <script src="assets/js/app.js" defer></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha256-CjSoeELFOcH0/uxWu6mC/Vlrc1AARqbm/jiiImDGV3s=" crossorigin="anonymous"></script>
</body>
</html>